# Python
## Python
### Python
#### Python
##### Python
###### Python
####### Python

# Python
 - Day1
 - Day2
    - topic

 - Point 1
     - **Sub Point 1.1**
     -  *sub point 1.2*
     - **Sub Point 1.3**

### Python Introduction
 - Phyton 3
 - Phython can be used as functional programming.
 - Python can be used as scripting programming.
 - Python intially designed by **Guido Van Rossum** in 1991.

In [3]:
# Input and Output Function
# Output Function
print("Hello World")
print("Welcome to Python Programming")

Hello World
Welcome to Python Programming

In [4]:
print("Markdown Cell",end=' ')
print("Code Cell")

Markdown Cell Code Cell

In [5]:
# input Function
print("Enter Your Nmae:")
a = input(' ')
print('Your Name is',a)

Enter Your Nmae:
 T. Yasasvi
Your Name is T. Yasasvi

# Variables are also called as identifiers.
# var name always starts with alphabets.
## does not starts with any special characters expect_ .
## does not start with digits.

In [6]:
x = 10
type(x)

int

In [7]:
y = 12
x+y

22

# Fundamental Datatypes:
### int
### float
### complex
### boolean
### string

In [10]:
x = 10
y = 10.5
print(x+y)
type(y)

20.5

float

In [12]:
c = 2+ 2j
d = 3+ 3j
c+d

(5+5j)

In [13]:
# TypeCasting
a = 12.56
int(a)

12

In [19]:
# TypeCasting
a = 12.56
print(int(a))
print(complex(a))

12
(12.56+0j)

In [17]:
complex(3, 4)

(3+4j)

In [ ]:
# Boolean Datatype
## true 
## false

In [20]:
a = True
type(a)

bool

In [21]:
b = False
type(b)

bool

In [23]:
# String:
a = "Python"
b = "P"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [33]:
a = '100'
print(type(a))
b = int(a)
print(type(b))
c = float(a)
print(type(c))
d = bool(a)
type(d)

<class 'str'>
<class 'int'>
<class 'float'>

bool

In [30]:
a = 1234
len(a)

TypeError: object of type 'int' has no len()

In [31]:
a = '1234'
len(a)

4

In [32]:
a = '1234'
len(str(a))

4

# Operators:
## Arithmetic Operator:
### +,-,*,/,%,//,** (//- floor division(removes the decimal part), **- exponent)

In [39]:
123/5

24.6

In [38]:
123//5

24

In [42]:
a = 3
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

5
1
6
1.5
1
1
9

# Logical Operators:
## and,or,not

In [53]:
x = 12
y = 5
print(x>=20 and y>3)
print(x>=20 or y>2)
not x

False
True

False

# Relational Operators
## <,<=,>,>=,==,!=

In [57]:
x = 2
y = 5
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)
print(x==y)
print(x!=y)

True
True
False
False
False
True

# Membership Operator:
## in, not in

In [60]:
a = "Python"
print('P' in a)
print('p' in a)
print('a' not in a)
print('P' not in a)

True
False
True
False

# Conditional Statements:
### if (single condition)
### if else (two conditions)
### elif (multiple conditions)

## Syntax:

## if condition:
    - statement

In [66]:
# To check the given number is even or odd 
a = input("Enter a number")
type(a)

Enter a number5

str

In [69]:
a = int(input("Enter a number"))
if a%2==0:
    print("Even")

Enter a number4
Even

In [74]:
# if - else:
a = int(input("Enter a number"))
if a%2==0:
    print("Even")
else:
    print("odd")

Enter a number5
odd

In [76]:
# To check whether the number is divisible by 3 and 5
a = int(input("Enter a number"))
if a%3==0 and a%5==0:
    print("divisible by 3 and 5")
else:
    print("not divisible")

Enter a number22
not divisible

In [79]:
# To check whether the number is positive or negative or zero
a = int(input("Enter a number"))
if a>0:
    print("a is positive")
elif a<0:
    print("a is negative")
elif a==0:
    print("a is zero")

Enter a number0
a is zero

In [82]:
# To check whether a year is leap year or not
a = int(input("Enter a number"))
if a%4==0:
    print("leaf year")
else:
    print("not a leap year")

Enter a number2002
not a leap year

In [91]:
a = int(input("Enter a number"))
if (a%4==0 and a%400==0 and a %100 !=0):
    print("leaf year")
else:
    print("not a leap year")

Enter a number2016
not a leap year

# Looping Statements:
## while loop
## for loop

In [93]:
print("Gitam")
print("Gitam")

Gitam
Gitam

# Synatx:
 - while condition:
    - Statements

In [2]:
# Print the number from 1 to N
n = int(input("Enter the number"))
i = 1
while i<=n:
    print(i)
    i+=1

Enter the number10
1
2
3
4
5
6
7
8
9
10