In [6]:
li=[10,20,30,4,5]
print(li[0])
print(li[-1])
print(li[0:3])
li[-1:]
li[::-2]

10
5
[10, 20, 30]

[5, 30, 10]

In [5]:
li=[10,20,30,4,5]
print(li[0])
print(li[-1])
print(li[0:3])
print(li[::2])
print(li[::3])

10
5
[10, 20, 30]
[10, 30, 5]
[10, 4]

In [8]:
li=[10,20,30,4,5]
li[0:4:2] #start:stop:step

[10, 30]

In [11]:
list1 = ["Python",3,6,"Hyd"]
print(list1)
list1[1]="Gitam" #updating using the index values
list1

['Python', 3, 6, 'Hyd']

['Python', 'Gitam', 6, 'Hyd']

In [12]:
# det list items
del list1[1]
list1

['Python', 6, 'Hyd']

In [13]:
del list1[1]
list1

['Python', 'Hyd']

In [14]:
del list1[1]
list1

['Python']

In [15]:
del list1
list1

NameError: name 'list1' is not defined

In [24]:
#basic list operations
l=[2,5,7,1,8,4]
print(len(l))
#list repetition
print(l*2)
# to check whether certain element is present in the list
print( 4 in l)
print( 10 not in l)
# access all the items in the list
print(l)
for i in l:
    print(i)

6
[2, 5, 7, 1, 8, 4, 2, 5, 7, 1, 8, 4]
True
True
[2, 5, 7, 1, 8, 4]
2
5
7
1
8
4

In [26]:
print(l)
for i in range(len(l)-1):
    print(l[i])

[2, 5, 7, 1, 8, 4]
2
5
7
1
8

In [29]:
print(l)
print(max(l))
print(min(l))
print(sum(l))
print(sum(l)/len(l))

[2, 5, 7, 1, 8, 4]
8
1
27
4.5

In [42]:
print(l)
l.append("Python") # adding an item at the end of the list
l.insert(0,"Gitam")

['Gitam', 'Gitam', 'Gitam', 'Gitam', 2, 5, 7, 4, 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python']

In [39]:
l.count(4)

1

In [44]:
del l

NameError: name 'l' is not defined

In [46]:
l=[2,5,7,1,8,4]
l

[2, 5, 7, 1, 8, 4]

In [48]:
l.append("Python") # adding an item at the end of the list
l.insert(0,"Gitam")
print(l.count(4))

print(l.index(2))
print(l.index(4))

1
1
6

In [57]:
list2=[6,89,3,2,1,78]
list2.sort()
list2

[1, 2, 3, 6, 78, 89]

In [51]:
print(list2)
list2.pop()

[1, 2, 3, 6, 78, 89]

89

In [54]:
print(list2)
list2.pop(2)

[1, 2, 6, 78]

6

In [55]:
list2

[1, 2, 78]

In [58]:
li1=[1,2,3]
list2.extend(li1)
list2

[1, 2, 3, 6, 78, 89, 1, 2, 3]

In [62]:
list2.reverse()
list2

[3, 2, 1, 89, 78, 6, 3, 2, 1]

In [63]:
# Function to return the largest element from the list
l1=[1,2,3,4,5,6,7]
print(max(l1))

7

In [65]:
# Function to return the largest element from the list
def largestNumber(li):
    li.sort()
    print(li)
    return li[-1]    
li=[23,54,43,24,21]
largestNumber(li)

[21, 23, 24, 43, 54]

54